@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

* {
    margin: 0;    
    padding: 0;   
}

body {
    background-color: rgb(53, 51, 51);
    font-family: 'Grape Nuts', cursive;
}

header {
  
    color: blanchedalmond;
    font-size: 4em;
    font-weight: bold;
    padding: 4vh 15vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    text-shadow: rgb(245, 212, 212) 0 0 10px;
    
    

}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    
}

.container {
    background-color:rgb(255, 255, 255);
    display: grid;   
    border-radius: 10px;
    width: 900px;
    height: 900px;  
    box-shadow: rgba(253, 253, 253, 0.4) 0px 2px 4px, rgba(245, 243, 243, 0.3) 0px 7px 13px -3px, rgba(248, 245, 245, 0.2) 0px -3px 0px inset;
}

@media screen  and (max-width: 600px) {
    .container {
        width: 500px;
        height: 500px;
    }

    header {
        font-size: 3em;
        padding: 3vh 5vh;
    }
  }

  @media screen  and (max-width: 400px) {
    .container {
        width: 380px;
        height: 380px;
    }

    header {
        font-size: 2em;
        padding: 2vh 2vh;
        justify-content: flex-start;
    }

 
  }