@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
    margin: 0;    
    padding: 0;   
}

body {
    background-color: #2D2E2E;
    font-family: 'Square Peg', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;       
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EAF9D9;
    font-size: 5vw;
    font-weight: bold;
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    text-shadow: #CCC7B9 0 0 10px;   
}

/* Navbar and buttons */

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2vw;
    gap: 2vh;
}

 #color {
    width: 6vw;
    height: 5vh;
	appearance: none;
	outline: none;
	cursor: pointer;
    border: none;
    -webkit-appearance: none; 
    background: none; 
} 

.navbar input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 5vh;
	appearance: none;
	outline: none;
	cursor: pointer;
    border: 4px solid;
    border-image-slice: 1;
    border-width: 2px;
	color: #f0f0f0bd;
	font-size: 2vw;
    font-family: 'Square Peg', cursive;
	transition: all .2s ease-in-out;
    text-shadow: #dddddd 0 0 10px;
    text-align: center;
}

.navbar .option:active { font-weight: bold; }

.navbar .clear { border-image-source: linear-gradient(to left, #716969, #BCABAE); }

.navbar .color { border-image-source: linear-gradient(to left, #639ef7, #0c48ee); }

.navbar .rainbow { border-image-source: linear-gradient(to left, #ec9d27, #f539eb); }

.navbar .darken { border-image-source: linear-gradient(to left, #686868, #8f8f8f); }

.navbar .color:checked, .color:hover { background-image: linear-gradient(to left, #639ef7, #0c48ee);}

.navbar .rainbow:checked, .rainbow:hover { background-image: linear-gradient(to left, #ec9d27, #f539eb);}

.navbar .darken:checked, .darken:hover  { background-image: linear-gradient(to left, #686868, #8f8f8f); }

.navbar .option:checked, .option:hover {
    color: #fff;
    text-shadow: #dddddd 0 0 10px;
    transform: scale(1.1);
} 

.navbar .clear:hover{
    background-image: linear-gradient(to left, #716969, #BCABAE);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 10px #79485f7a;
    transform: scale(1.1); 
}

.navbar input:before {
	content: attr(label);
}

/* Grid */

#container {
    background-color: #CCC7B9;
    display: grid;   
    border-radius: 5px;
    border: 5px ridge #E2D4BA;
    width: 1500px;
    height: 1500px; 
  
}

/* Slider */

.ranger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 5px; 
    color: #fff;
    font-size: 1.5vw;
    margin-right: 7%;
    
}

.ranger span, .ranger output {
    font-family: 'Square Peg', cursive;
    text-shadow: #dddddd 0 0 10px;
}

.slider {
    height: 20vh;
    width: 1vw;
    -webkit-appearance: slider-vertical;
}


@media screen  and (max-width: 2000px) {
    #container {
        width: 720px;
        height: 720px;
    }
}


@media screen  and (max-width: 600px) {
    #container {
        width: 500px;
        height: 500px;
    }

    header {
        font-size: 3em;
        padding: 3vh 5vh;
    }
  }

  @media screen  and (max-width: 450px) {
    #container {
        width: 380px;
        height: 380px;
    }

    header {
        font-size: 4em;
        padding: 0vh 0vh;
        justify-content: flex-start;
    }

    main {
        flex-direction: column-reverse;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar input {
        width: 12vw;
        height: 3vh;
        font-size: 2vh;
    }

    #color {
        width: 8vw;
        height: 3vh;
    }

    .ranger {
        height: 2vh;
        transform: rotate(90deg);
        margin-right: 0;
    }

    .ranger span, .ranger output {
        transform: rotate(270deg);
        font-size: 2vh;
    }
}

  @media screen  and (max-width: 350px) {
    #container {
        width: 340px;
        height: 340px;
    }
  }

  @media screen  and (max-width: 300px) {
    #container {
        width: 280px;
        height: 280px;
    }
  }